body{
    text-align: center;
}


@font-face {
    font-family: "My Custom Font";
    src: url(fonts/esp_bdit.ttf) format("truetype");
}

h1.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 100px;
    color: red;
    position: absolute;
    left: 2%;
}

h3{
    position: relative;
    top: 10px;
    left: 30px;
}

#widget{
    position: relative;
    top: 20px;
    left: 30px;
}

.bhsLogo{
    height: 150px;
    width: 175px;
    top: 50px;
    left: 375px;
}