@font-face {
    font-family: "My Custom Font";
    src: url(fonts/esp_bdit.ttf) format("truetype");
}
h1.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 100px;
    color: darkred;
    position: absolute;
    left: 2%;
}

h3{
    position: absolute;
    top: 20%;
    left: 2%;
}

#widget{
    position: absolute;
    top: 26%;
    left: 2%;
}